name: CI Madara

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: yarn
      - name: Run Linters
        run: yarn lint
      - name: Run Integration Tests
        run: yarn test
      - name: Run E2E Tests
        uses: cypress-io/github-action@v2
        env:
          REACT_APP_API_ID: ${{ secrets.REACT_APP_API_ID }}
          REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
          REACT_APP_API_KEY: ${{ secrets.REACT_APP_API_KEY }}
        with:
          start: yarn start
          wait-on: 'http://localhost:3000'
